* {
    margin: 0; /*This removes the margin from the whole page, filling the whole webpage with content, showing no gaps in te borders of the page */
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

/*Add space to both sides and top/bottom in every section*/
.header,
.hero,
.information,
.quote,
.cta {
    padding: 60px 250px;
}

/* Header */
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header-left {
    font-size: 24px;
    color: #F9FaF8;
    font-weight: 900;
}


ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* Hero */
.hero {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    /*height may need to be set */
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-left p {
    margin-bottom: 20px;
    color: #F9FAF8;
}

.hero-left button {
    color: #F9FAF8;
    background-color: #3882F6;
    font-weight: bold;
    padding: 8px 40px;
    border-radius: 10px;
    border-style: none; /*Remove any border lines*/
}

img {
    width: 500px;
    height: 200px;
}

/*Information */
.information h2 {
    text-align: center;
    margin-bottom: 30px;
}


.icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
}

.iconimage {
    border: 5px solid #3882F6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
}

/*Quote*/
.quote {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.quote-reference {
    font-weight: bold;
    text-align: end;
}

/* cta */
.cta {
    display: flex;
}

.cta-container-blue {
    background-color: #3882F6;
    border-radius: 10px;
    color: #E5E7EB;
    padding: 30px 100px;
    flex: 1; /* Make the blue container take the space available */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-heading {
    font-weight: bold;
    font-size: 18px;
}

.cta-right button {
    color: #F9FAF8;
    background-color: #3882F6;
    font-weight: bold;
    padding: 8px 40px;
    border-radius: 10px;
    border: 2px solid white;
}

.footer {
     height: 50px;
     background-color: #1F2937;
     color: white;
     display: flex; /*Make it flex to align text to the bottom */
     align-items: center;
     justify-content: center;
}

.footer-text {
    font-size: 18px;
    color: #E5E7EB;
}
